@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-primary: oklch(68.5% 0.169 237.323);
}

.nav-links::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-primary);
    transition: width 0.3s ease;
}

.nav-links:hover::after {
    width: 100%;
}